@font-face {
    font-family: 'BarlowCondensed';
    src: url('/src/assets/fonts/BarlowCondensed-Regular.ttf');
}

@font-face {
    font-family: 'BelleFair';
    src: url('/src/assets/fonts/Bellefair-Regular.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-BarlowCondensed
    }
}

@layer components {
    .glass {
        background: rgba(38, 42, 64, 0.5);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        ;
    }
}